/**, 
*:before, 
*:after {     margin: 0;     padding: 0;     -moz-box-sizing: border-box;     -webkit-box-sizing: border-box;     box-sizing: border-box; }
*/
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:700,400);
@import url(https://fonts.googleapis.com/css?family=Arimo);

body {
	font-size: 10px;
	/*background:url(http://41.media.tumblr.com/tumblr_lgqsqj2Glv1qgcb26o1_1280.jpg);
	background-size: cover;*/
}

/*header*/

h1 {
	font-size: 5em;
	font-family: 'Noto Serif', Serif, bold;
	text-align: left;
	padding: .5em 0 .25em .5em;
	margin-bottom: 0;
	width: 80%;
}

.nav_header {
	float:right;
	padding: 0.5em 0 1em 0;
	
}

.nav_header a {
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: 'Arimo', sans-serif;
	color: black;
	text-decoration: none;
	padding:1em 1em;
}

.nav_header a:hover {
	text-decoration: underline;
}

.nav_header ul {
	list-style: none;
}

li {
	display: inline;
}


hr {
	width: 100%;
}

/*main*/

/*
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}*/

.main {
	text-align: center;
}

.home_photo {
	width:98%;
	margin: none;
}

.main h2 {
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 1em;
	text-align: left;
	padding: 1.5em;
	width: 100%;
}


.gallery_short {
	-webkit-column-count: 2; 	-moz-column-count: 2; 	column-count: 2;
	-webkit-column-gap: 0em; 	-moz-column-gap: 0em; 	column-gap: 0em;
	height: 170em;
}

.gallery_long {
	-webkit-column-count: 2; 	-moz-column-count: 2; 	column-count: 2;
	-webkit-column-gap: 0em; 	-moz-column-gap: 0em; 	column-gap: 0em;
}

.img-wrapper img {
	width:90%;
	padding: 2px;
	margin: 10px;
}

/*footer*/

footer {

}

h2 {
	font-family: "Amino", Serif;
	font-size: 1.6em;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	text-align: center;
	margin-top: 3em;
}

p {
	font-family: "Amino", sans-serif;
	font-size: 1.3em;
	margin: 1.5em;
}

@media screen and (max-width:925px) {
	.nav_header {
		text-align: center;
		font-size: 1em;
		margin-left: none;
		margin-bottom: 1em;
	}
	.main h2 {
		font-size: 1.5em;
	}

	.img-wrapper img {
		padding: 0.1em;
		width: 100%;
		background-color: blue;
		margin: none;
	}

	.gallery_short {
		height: none;
		width: 50%;
		background-color: red;
		display: inline;
	}
	
}

@media screen and (max-width:401px) {
	.nav_header li {
		display:block;
		text-align: none;
		padding: 0.5em;
	}
	.nav_header {
		width:100%;
		text-align: center;
		margin-left: none;
	}
	
}
