*, 
*:before, 
*:after {     margin: 0;     padding: 0;     -moz-box-sizing: border-box;     -webkit-box-sizing: border-box;     box-sizing: border-box; }

@import url(https://fonts.googleapis.com/css?family=Noto+Serif:700,400);
@import url(https://fonts.googleapis.com/css?family=Arimo);

h1 {
	font-size: 40px;
	font-family: 'Noto Serif', Serif, bold;
	text-align: left;
	padding: 15px;

}


body {
	/*font-family: 'Arial', sans-serif;
	text-align: center;
	background:url(http://41.media.tumblr.com/tumblr_lgqsqj2Glv1qgcb26o1_1280.jpg);
	background-size: cover;*/

}

.nav {
	margin: 10px;
	z-index: 1;
	margin: 0;
	width: 300px;
	margin-left: auto;

}

.nav a {
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'Arimo', sans-serif;
	color: black;
	text-decoration: none;
/*	font-weight: bold;*/
}

.nav ul {
	list-style: none;
	text-align: center;
}

li {
	display: inline;
}


hr {
	width: 1250px;
}

p {
	font-size: 10pt;
}

h2 {
	/*font-family: "times new roman", serif;*/
	font-size: 20pt;
}

.gallery {
	-webkit-column-count: 2;      -moz-column-count: 2;           column-count: 2;
	-webkit-column-gap: 1em;      -moz-column-gap: 1em;           column-gap: 1em;
}

.img-wrapper img {
	width:100%;
}
